<h1><%= startup.name %></h1>
<h3><%= startup.pageOwner %></h3>
<p><%= startup.content %></p>

<a href="/startups/<%= startup._id %>/edit">Edit</a>
<br>
<br>
<form action="/startups/<%= startup._id %>/?_method=DELETE" method="post">
	<input type="submit" value="Delete">
</form>
