<div id="menu-wrapper" class="closed">
      <ul id="menu">
        <li><a href="/startups">Home</a></li>
        <li><a href="/startups/new">New Startup</a></li>
        <li><a href="#">Verticals</a></li>
     	  <ul id="categories">
        	<li><a href="/startups">Marketplaces</a></li>
        	<li><a href="/startups">Social</a></li>
        	<li><a href="/startups">e-Retailers</a></li>
        	<li><a href="/startups">Enterprise</a></li>
        	<li><a href="/startups">FinTech</a></li>
        	<li><a href="/startups">EdTech</a></li>
        	<li><a href="/startups">AdTech</a></li>
        	<li><a href="/startups">HealthTech</a></li>
        	<li><a href="/startups">Big Data</a></li>
        	<li><a href="/startups">Security</a></li>
        	<li><a href="/startups">Hardware</a></li>
        	<li><a href="/startups">Other</a></li>
      	</ul>
      </ul>
</div>
<div id="content-wrapper" class="closed">
	<div id="hamburger-button">
    	<span></span>
    	<span></span>
    	<span></span>
  	</div>

  	<span id="logout"><a href="../../">Logout</a></span>	

  	<div class="show" id="co">
		<h1><%= startup.name %></h1>
		<h2><strong>Vertical: </strong><%= startup.vertical %></h2>
		<h2><strong>Location: </strong><%= startup.location %></h2>
		<h2><strong>Stage: </strong><%= startup.stage %></h2>
		<h2><strong>Capital Raised: </strong><%= startup.capitalRaised %></h2>
		<h2><strong>Hiring: </strong><%= startup.hiring %></h2>
		<p><strong>About: </strong><%= startup.content %></p>

		<h3>Created on: <%= startup.date %> </h3>
		<h3>Author: <%= startup.pageOwner %></h3>

		<div id="buttons">
			<div id="edit">	
				<a href="/startups/<%= startup._id %>/edit">Edit</a>
			</div>
			
			<form action="/startups/<%= startup._id %>/?_method=DELETE" method="post">
				<input type="submit" value="Delete">
			</form>
		</div>
	</div>
</div>
